.race-card{

    overflow:hidden;

    border-radius:10px;

    background:#11151d;

    border:1px solid rgba(255,255,255,.05);

    transition:.3s;

    box-shadow:0 15px 40px rgba(0,0,0,.5);

}

.race-card:hover{

    transform:translateY(-8px);

}

.race-image{

    height:320px;

    overflow:hidden;

}

.race-image img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.image-placeholder{

    width:100%;

    height:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#222;

    color:#777;

}

.race-content{

    padding:24px;

}

.race-content h2{

    margin-bottom:16px;

    color:white;

}

.race-content p{

    color:#9aa3b5;

    line-height:1.6;

    min-height:110px;

}

.details-button{

    width:100%;

    margin-top:20px;

    padding:14px;

    cursor:pointer;

    border:none;

    background:#c9b37d;

    color:black;

    font-family:"Cinzel",serif;

    transition:.3s;

}

.details-button:hover{

    opacity:.85;

}