.navbar{

    position:sticky;

    top:0;

    z-index:1000;

    backdrop-filter:blur(18px);

    background:rgba(5,5,8,.75);

    border-bottom:1px solid rgba(255,255,255,.05);

}

.navbar-container{

    width:min(1500px,94%);

    height:78px;

    margin:auto;

    display:grid;

    grid-template-columns:

        220px
        1fr
        auto;

    align-items:center;

    gap:40px;

}

.navbar-logo{

    font-family:"Cinzel",serif;

    font-size:1.8rem;

    letter-spacing:6px;

    color:white;

    text-decoration:none;

    transition:.3s;

}

.navbar-logo:hover{

    color:#d8b35f;

    text-shadow:

        0 0 18px rgba(216,179,95,.45);

}

.navbar nav{

    display:flex;

    gap:28px;

}

.navbar nav a{

    position:relative;

    color:#8994a7;

    font-family:"Cinzel",serif;

    text-decoration:none;

    transition:.3s;

    letter-spacing:1px;

}

.navbar nav a:hover{

    color:white;

}

.navbar nav a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:1px;

    background:#d8b35f;

    transition:.3s;

}

.navbar nav a:hover::after{

    width:100%;

}